!!! 5
html
  head
    title devsheet2
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery.js')
  body
    .container!= body